@using MessageOfTheDay.Domain.Entities
@model IEnumerable<Message>

@{
    ViewBag.Title = "Day List";
}

<h2>MessageList</h2>

@foreach (var message in Model)
{
    <div>
        @message.TodaysMessage
    </div>
}