@model MessageOfTheDay.WebUI.Models.MessageOfTheDayViewModel

@{
    ViewBag.Title = "Day List";
}

<h2>MessageList</h2>

@foreach (var message in Model.Messages)
{
    <div>
        @message.TodaysMessage
    </div>
}